{{> menu active="about"}}

<section class="section">
  <div class="container has-text-centered">
    <h3 class="title has-text-white">Weather Reporting Made Easy - Release 4</h3>
    <div class="content has-text-light" style="max-width: 700px; margin: auto;">
      <p>
        Welcome to Weather Reporting Made Easy Release 4! This release focuses on giving users a better experience by:
      </p>
      <ul style="text-align: left; display: inline-block;">
        <li>Exercise 1 Week 1</li>
      </ul>
    </div>
  </div>
</section>